.day-box {
    border: 1px solid #757171;
    min-height: 100px;
    padding: 10px;
}

.day-box .date {
    font-weight: bold;
}

.booking-info {
    margin-top: 10px;
}

/* Calendar Custom Styles */
.table.calendar {
    width: 100%; /* Further reduce calendar size */
    margin: auto;
    table-layout: fixed; /* Ensures uniform column width */
}

.table.calendar th, .table.calendar td {
    text-align: center;
    padding: 5px; /* Reduced padding */
    font-size: 0.55em; /* Smaller text */
    border: 1px solid #333333; /* Very dark border, not black */
}

/* Smaller headers */
.table.calendar th {
    font-size: 0.8em;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .table.calendar {
        width: 100%;
    }

    .table.calendar th, .table.calendar td {
        padding: 2px;
        font-size: 0.7em;
    }
}

/* Ensuring that available days maintain their color */
.available-day {
    background-color: var(--available-day-bg-color, #acf1d7); /* Light green color */
    z-index: -1;
}

/* Weekend shading */
.weekend-shadeds {
    background-color: var(--available-day-bg-color, #dad7d7); 
    z-index: -1;
}

/* Booked day hover effect */
.day-hover:hover {
    background-color: rgba(0, 0, 0, 0.25); /* 25% darker tint on hover */
}


/* Specific styles for hover effect on available days */
.available-day.day-hover:hover {
    background-color: #86b8a5; /* 25% darker tint on light green */
    z-index: -1;
}

/* Specific styles for hover effect on weekend days */
.weekend-shaded.day-hover:hover {
    background-color: rgba(68, 57, 57, 0.664); /* 25% darker tint on weekend color */
}

/* Ensuring that available days maintain their color */
.booked-day {
    background-color: var(--available-day-bg-color, #ffffff); /* White color */
    z-index: -1;
}

.closed-day {
    background-color: rgba(247, 183, 153, 0.767);
    z-index: -1;
}


.past-day::after {
    content: '×';
    color: rgba(27, 6, 75, 0.25);
    font-size: 14em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    z-index: 2;
}

.past-day {
    position: relative;
    overflow: hidden;
    filter: blur(0.5px);
    background-color:rgba(195, 178, 235, 0.281); /* Light red background for closed days */
    border: 1px solid #0a0909; /* Ensure border visibility */
}

.today-day::after {
    content: ' ';
    color: rgba(253, 80, 0, 0.616);
    font-size: 12em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.today-day {
    position: relative;
    overflow: hidden;
    background-color: rgba(106, 188, 255, 0.788); /* Adjust the background color as needed */
    border: 1px solid #0a0909;
}


/* Day view Matrix schedule */
.schedule-matrix table {
    width: 100%; /* Adjust as needed */
    table-layout: fixed; /* Ensures uniform column width */
    border: 1px solid #0a0909; /* Ensure border visibility */
}

.schedule-matrix th {
    min-width: 15px; /* Adjust minimum width as needed */
    transform: rotate(180deg);
    text-align: center;
    vertical-align: middle;
    writing-mode: vertical-lr;
    white-space: nowrap; /* Keeps the text in one line */
    border: 1px solid #0a0909; 
}

.schedule-matrix td {
    height: 8px;
    background-color: deeporange;
    font-size: 0.6em; /* Reduced font size */
    height: 6px; /* Reduced height */
    border: 1px solid #0a0909; 
    text-align: center;
    vertical-align: middle;
}

.schedule-matrix td.booked {
    background-color: deeporange;
    font-size: 0.6em; /* Reduced font size */
    height: 8px; /* Reduced height */
    border: 1px solid #0a0909; /* Ensure border visibility */
    text-align: center;
    vertical-align: middle;
}

.schedule-matrix .booked-slot {
    background-color: #FF5733; /* Change this color to your preferred booked time color */
}

.schedule-matrix table th,
.schedule-matrix table td {
}




/* END Day view Matrix schedule */