.day-box {
    border: 1px solid #757171;
    min-height: 100px;
    padding: 10px;
}

.day-box .date {
    font-weight: bold;
}

.booking-info {
    margin-top: 10px;
}

/* Calendar Custom Styles */
.table.calendar {
    width: 100%; /* Further reduce calendar size */
    margin: auto;
    table-layout: fixed; /* Ensures uniform column width */
}

.table.calendar th, .table.calendar td {
    text-align: center;
    padding: 5px; /* Reduced padding */
    font-size: 0.55em; /* Smaller text */
    border: 1px solid #333333; /* Very dark border, not black */
}

/* Smaller headers */
.table.calendar th {
    font-size: 0.8em;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .table.calendar {
        width: 100%;
    }

    .table.calendar th, .table.calendar td {
        padding: 2px;
        font-size: 0.7em;
    }
}


/* Ensuring that available days maintain their color */
.available-day {
    background-color: var(--available-day-bg-color, #acf1d7); /* Light green color */
}

/* Booked day hover effect */
.day-hover:hover {
    background-color: rgba(0, 0, 0, 0.25); /* 25% darker tint on hover */
}


/* Specific styles for hover effect on available days */
.available-day.day-hover:hover {
    background-color: #86b8a5; /* 25% darker tint on light green */
}

/* Weekend shade */
.weekend-shaded {
    background-color: var(--weekend-bg-color, #f0f0f0);
}

/* Specific styles for hover effect on weekend days */
.weekend-shaded.day-hover:hover {
    background-color: rgba(68, 57, 57, 0.664); /* 25% darker tint on weekend color */
}

/* Ensuring that available days maintain their color */
.booked-day {
    background-color: var(--available-day-bg-color, #ffffff); /* White color */
}

.closed-day {
    background-color: #ffcccc; /* Light red background for closed days */
}